.summary-div {
    width: 360px;
    height: 640px;
   
    display: flex;
    flex-direction: column;

}

.summary-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.avg-rating-img {
    width: 273px;
    height: 150px;
    margin-top: 50px;
}

.avg-rating {
    font-size: 50px;
    font-weight: 700;

}

.over-all-avg-span {
    font-size: 15px;
    font-weight: 400;
    color: rgba(var(--lightGray), 0.99);
    margin-bottom: 30px;
}

.share-with-friends-caption {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    color: rgba(var(--lightGray), 0.99);
    margin-bottom: 15px;

}

