.stars-div{
    display: flex;
}

.star-img{
    object-fit: contain;
    width: 43px;
    height: 45px;
}
.rating-dept-catogery{
    margin-bottom:15px;
    font-weight: 400;
    font-size:18px;
}
.each-star-div{
    margin-right: 10px;
}
.each-rating-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid rgba(var(--lightGray),0.7);
    padding-bottom: 20px;
    margin-top: 10px;
   
}