.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/building_img.svg");
background-size: 647px 270px;
background-repeat: no-repeat;
background-position: bottom;
background-position-x: 100%;
background-position-y: 122%;

  
}


