.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/building_img.svg");
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: bottom -5% right 85%;

}